#container.main
  .content
    #section-1.content_top.section
      .wrap
        .banner_desc
          .wmuSlider.example1
            .wmuSliderWrapper
              %article
                %p 
                  Iniciar Sesion
                  %br
                  %a{ :href => "/users/new" }
                    %small{ :style => "font-size: .4em !important" } Aun no tienes una cuenta? Click Aqui!
    #section-2.about_desc.section
      .wrap
        .loginBox{ :style => "display: block; width: 50%; margin: 0 auto;" } 
          %form{ :action => "/sessions", :method => "post" }
            %fieldset{ :style => "padding: 10px 0;" }
              %label{ :for => "username", :style => "display: block;"  } Correo Electronico: *
              %input#username{ :type => "text", :name => "user[username]", :placeholder => "myeamil@yourdomain.com", :style => "padding: 2%; width: 96%; border-radius: 5px;" }
            %fieldset{ :style => "padding: 10px 0;" }
              %label{ :for => "password", :style => "display: block;"  } Clave: *
              %input#password{ :type => "password", :name => "user[password]", :placeholder => "myeamil@yourdomain.com", :style => "padding: 2%; width: 96%; border-radius: 5px;" }
            %fieldset
              %input.login{ :type => "submit", :value => "Iniciar Sesion" }
